<%- include('partials/header') %>

<div class="container mt-5">
    <h1>About Me</h1>
    <img src="/images/headshot1.jpg" alt="A headshot of me" class="img-fluid" width="200" height="200">
    <p>My name is Olawale Olabisi. Here's a short paragraph about me.</p>
    <a href="/pdf/Olawaleolabisi(resume).pdf" target="_blank" class="btn btn-secondary">View My Resume</a>
</div>

<%- include('partials/footer') %>
