<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Projects</h1>

    <!-- Example of a single project; repeat for each project 
    <div class="project">
        <img src="/images/project1.jpg" alt="Project 1 Image" class="img-fluid">
        <h2>Project 1</h2>
        <p>Description of my role and the project's outcome.</p>
    </div>  -->
    <div class="row portfolio-row">
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#uscModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                </div>
                <img src="/images/done/zeepthile.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>Zeepthile Nigeria</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#displaysModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                </div>
                <img src="/images/done/swiftline.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>swiftline Nigeria</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#courseSourceModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/nddc2.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>NDDC Data-Management</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#feedbackLoopModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/cdin.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>CDIN</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#webdevModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/srms.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>SRMS</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#fontipsumsModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/agro.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>Agro</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#nuwitModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/moest.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>MOEST</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#oneCardForAllModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/gree1.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>Gree</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#medMilModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                    <!-- <a href="https://google.com" target="_blank"><i class="fa fa-link"></i></a> -->
                </div>
                <img src="/images/done/devorbs.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>Devorbs</h3>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper wp5">
            <div class="portfolio-item" data-toggle="modal" href="#humankindaModal">
                <div class="portfolio-overlay"></div>
                <div class="links">
                    <a class="image-link"><i class="fa fa-search-plus"></i></a>
                </div>
                <img src="/images/done/medic.png" alt="image" class="img-fluid" width="200" height="200">
                <div class="portfolio-info">
                    <h3>Medic</h3>
                </div>
            </div>
        </div>
    </div>
    
</div>


<%- include('partials/footer') %>
